
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: 'Work Sans', sans-serif;
  position: relative;
  height: 100vh;
  background: rgb(116, 103, 103);
  overflow: hidden;



}
  

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
